<div class="container w-50 mt-5">
  <form action="/restaurants" method="POST">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">餐廳</span>
      </div>
      <input type="text" class="form-control" name="name">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">類別</span>
      </div>
      <input type="text" class="form-control" name="category">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">圖片</span>
      </div>
      <input type="text" class="form-control" name="image">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">地址</span>
      </div>
      <input type="text" class="form-control" name="location">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">電話</span>
      </div>
      <input type="text" class="form-control" name="phone">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">評分</span>
      </div>
      <input type="text" class="form-control" name="rating">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">描述</span>
      </div>
      <input type="text" class="form-control" name="description">
    </div>

    <div class="d-flex flex-row-reverse">
      <button type="submit" class="btn btn-primary mt-3">新增</button>
    </div>
  </form>
</div>